{% extends 'AdminBundle::layout.html.twig' %}


{% block content %}
<h1>{{ action_title }}</h1>

{% if toolbar is defined  %}
    {% include 'AdminBundle:Admin:toolbar.html.twig'
    with {'toolbar': toolbar} only %}
{% endif %}

<table class="table table-bordered table-striped record_properties">
    <tbody>
        {% for field,label in show_fields %}
            {% if show_images[field] is defined %}
                {% include 'AdminBundle:Admin:show_image.html.twig'
                    with {'label': label, 'value':  vich_uploader_asset(entity,field), 'thumb': show_images[field]} only %}
            {% else %}
                {% include 'AdminBundle:Admin:show_default.html.twig'
                    with {'label': label, 'value': attribute(entity,field) } only %}
            {% endif %}
        {% endfor %}
        
    </tbody>
</table>

<div class="record_actions">
    
        <a href="{{ path(list_route) }}" class="btn btn-small btn-primary pull-left">
            {% trans %}Back to the list{% endtrans %}
        </a>
        {% if show_delete is defined and show_delete %}
        <form style="float: left; margin-left: 10px" action="{{ path(delete_route, { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn btn-small btn-danger">{% trans %}Delete{% endtrans %}</button>
        </form>
        {% endif %}
</div>
{%endblock content %}