<div class="btn-toolbar">
    <div class="btn-group">
        {% for label,url in toolbar %}
            <a class="btn" href="{{ url }}">{{ label | trans }}</a>
        {% endfor %}

    </div>
</div>